/* LIGHT MODE */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');

html {
  /* scroll-behavior: smooth; */
   scroll-behavior: smooth;
}

/* body {
  font-family: 'Inter', sans-serif;
  background: #0a0a0a;
  color: #f5f5f5;
} */

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
}
:root{
    --bg-color:#ffffff;
    --surface-color:#f8f7ff;
    --card-color:#ffffff;

    --heading-color:#1f2937;
    --text-color:#4b5563;
    --text-light:#6b7280;

    --primary-color:#7c3aed;
    --primary-hover:#6d28d9;
    --secondary-color:#a78bfa;

    --border-color:#e5e7eb;
    --shadow:rgba(0,0,0,.08);

    --feedback-bg:#4d1e94;
}

/* DARK MODE */
body.dark{
    --bg-color:#0f0b1f;
    --surface-color:#17112d;
    --card-color:#21173d;

    --heading-color:#f8f7ff;
    --text-color:#d8d3ff;
    --text-light:#a8a2d8;

    --primary-color:#a78bfa;
    --primary-hover:#8b5cf6;
    --secondary-color:#c4b5fd;

    --border-color:#34295f;
    --shadow:rgba(0,0,0,.35);

     --feedback-bg:#846aad;
}

body{
    background-color:var(--bg-color);
    color:var(--text-color);
     /* font-family: 'Inter', sans-serif; */
     font-family: 'Inter', sans-serif;
}
/* body {
  font-family: 'Inter', sans-serif;
} */

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
}
/* section[id],
.section,
.reveal {
    scroll-margin-top: 200px;
} */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.section{
    scroll-margin-top: 95px !important;
}
.section.remove{
    scroll-margin-top: 0 !important;
}
/* header nav */
header nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1.5rem;
    background-color:var(--bg-color);
    color:var(--text-color);
    padding:25px 30px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}
.logo a{
    text-decoration:none;
    color:var(--primary-color);
    font-weight:900;
    font-size:1.8rem;
}
.nav-links ul{
    display:flex;
    gap:20px;
}
.nav-links ul li{
list-style-type:none;
}
.nav-links ul li a{
    text-decoration:none;
    color:var(--text-color);
    /* font-weight:600; */
}
.nav-links ul li{
    list-style: none;
    position: relative;
    margin-left: 10px;
}

.nav-links ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 50%;

    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%) scale(0);

    transition: .3s;
}

/* .nav-links ul li:hover::before{
    transform: translateY(-50%) scale(1);
} */

.nav-links ul li:hover a{
    color: var(--primary-color);
}
.nav-links ul li:has(a.active)::before{
    transform: translateY(-50%) scale(1);
}

.nav-links ul li a.active{
    color: var(--primary-color);
}
.darkMode span{
    font-size:1.5rem;
    color:var(--text-color);
    cursor:pointer;
}

.darkMode:hover span{
    color:var(--primary-color);
}
#main{
    /* margin-top: 80px; */
}
/* hero section */
.hero-section{
    padding-top: 50px;
    height: 100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
   
    /* padding: 100px 50px 50px 50px; */
    gap: 50px;
    /* margin: 0 200px; */
    font-size:1.5rem;
}
/* hero image */
.hero-image-section {
   display: flex;
   justify-content: center;
    align-items: center;
    gap: 30px;
    animation:upToDown 1s ease forwards;
}
@keyframes upToDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
}
}

.hero-image img{
    height: 400px;
   background-color: var(--surface-color);
   box-shadow: 0 0px 30px var(--primary-color);
   border-radius: 20%;
   border: 1px solid var(--primary-color);

}
/* .hero-image-section {
   display: flex;
   justify-content: center;
    align-items: center;
    gap: 30px;
} */
.account-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.account-link a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: 0.5s;
}
.account-link a:hover{
    color: var(--primary-color);
}
/* content section */
.name {
  color: var(--primary-color);
}
#typing {
  color: var(--primary-color);
  /* border-right: 2px solid white; */
  white-space: nowrap;
}
.hero-content{
    display: grid;
/* font-size:1.5rem; */
gap:10px;
animation:DownToUp 1s ease forwards;
}
@keyframes DownToUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
}
}

.hero-btn{
display:flex;
gap:20px;
}
.download-bth{
    margin-left: 10px;
    min-height: 60px;
}
.hero-btn a{
    text-decoration:none;
    color:var(--text-color);
    font-weight:600;
    padding:10px 20px;
    border:1px solid var(--primary-color);
    border-radius:5px;
}
.hero-btn a:first-child{
    background-color:var(--primary-color);
    color:var(--surface-color);
    transition: 0.5s;
}
.hero-btn a:first-child:hover{
    background-color: transparent;
   color: var(--text-color)
}
.hero-btn a:last-child{
    transition: 0.5s;
    /* background-color: var(--primary-color); */

    
}
.hero-btn a:last-child:hover{
    background-color: var(--primary-color);
    color: var(--surface-color);
    transition: 0.5s;
}

/* about section */
.about-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    margin: 0 200px;
    font-size:1.5rem;
    min-height: 100vh;
    height: 100%;

}
.about-content{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* animation:DownToUp 1s ease forwards;  */
}
/* @keyframes DownToUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */
.about-content h1{
    color: var(--primary-color);
}
.about-content p{
    color: var(--text-color);
    line-height: 1.2;
}
.about-btn{
    margin-top: 20px;
}
.about-btn a{
    background-color: var(--primary-color);
    margin-top: 20px;
    text-decoration:none;
    color:var(--surface-color);
    font-weight:600;
    padding:10px 20px;
    border:1px solid var(--primary-color);
    border-radius:5px;
    transition: 0.5s;
}
.about-btn a:hover{
    background-color: transparent;
    color: var(--text-color);
    transition: 0.5s;
}
.feedback{
    margin: 50px 0;
}
 .details{
   display: flex;
   gap: 20px;
   justify-content: center;
    align-items: center;

}
.value{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail{
    color: var(--surface-color);
    display:flex;
    flex-direction: column;
background-color: var(--primary-color);
   border-radius: 15px;
   border: 1px solid var(--primary-color);
   /* padding: 20px 30px; */
   text-align: center;
   /* width: 150px;
   height: 100px; */
   width: 200px;
   height: 150px;
   justify-content: center;
    align-items: center;
    /* border */
    font-size: 0.5rem;
    cursor: pointer;

}
.detail:hover{
    background-color: var(--surface-color);
    color: var(--primary-color);
    transition: 0.5s;
    transform: scale(1.1);
}
.detail span:first-child{
    /* font-size: 3rem; */
    font-weight: 600;
}

.about-img img{
    height: 400px;
   background-color: var(--surface-color);
   box-shadow: 0 0px 30px var(--primary-color);
   border-radius: 100%;
   border: 1px solid var(--primary-color);
   /* padding: 10px 30px 0px; */

}
/* side bar */
.side-bar{
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--surface-color);
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    z-index: 1000;
}
.side-bar.show{
    left: 0;
    transition: 0.5s;
}

.services{
    min-height:100vh;
    height:100vh;
    padding:100px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.services h2{
    font-size:3rem;
    margin-bottom:80px;
}

.services h2 span{
    color:var(--primary-color);
}
.main-card{

    display:flex;
    justify-content:center;
    align-items:flex-end;
    gap:25px;

    width:100%;

    perspective:1500px;
}
.cards{

    width:250px;
    height:360px;

    padding:25px;

    border-radius:25px;

    background:var(--surface-color);

    border:1px solid var(--primary-color);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    cursor:pointer;

    transition:.5s ease;

    transform-origin:center center;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    overflow:hidden;

    position:relative;
}

/* Purple top glow */

.cards::before{

    content:"";

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:6px;

    background:var(--primary-color);

    transition:.5s;

}

.cards h3{

    font-size:1.4rem;

    margin-bottom:18px;

    color:var(--heading-color);

    transition:.4s;

}

.cards p{

    line-height:1.8;

    color:var(--text-color);

    transition:.4s;

}

.cards:nth-child(1){

    transform:
    translateY(60px)
    rotate(-10deg);
    /* transition:5s; */

}
.cards:nth-child(1):hover{

    transform:translateY(60px) rotate(-10deg) scale(1.04);
    background-color: var(--primary-color);
/* transition:3s; */
}
/* .cards:nth-child(1):hover:after{
    transform:
    rotate(10deg);
} */

.cards:nth-child(2){

    transform:
    translateY(30px)
    rotate(-5deg);

}
.cards:nth-child(2):hover{

    transform:translateY(30px) rotate(-5deg) scale(1.04);
    background-color: var(--primary-color);

}

.cards:nth-child(4){

    transform:
    translateY(30px)
    rotate(5deg);

}
.cards:nth-child(4):hover{
    transform:translateY(30px) rotate(5deg) scale(1.04);
    background-color: var(--primary-color);
}

.cards:nth-child(5){
    transform:
    translateY(60px)
    rotate(10deg);

}
.cards:nth-child(5):hover{
    transform:translateY(60px) rotate(10deg) scale(1.04);
    background-color: var(--primary-color);
}

.cards.active{

    background:linear-gradient(
    135deg,
    var(--primary-color),
    #9b6cff);

    color:white;

    transform:
    translateY(-40px)
    scale(1.08);

    /* box-shadow:
    0 25px 45px rgba(124,58,237,.45); */

    z-index:10;

}

.cards.active h3,
.cards.active p{

    color:white;

}

/* .cards:hover{

    transform:
    translateY(-50px)
    scale(1.08);

    background:var(--primary-color);

    box-shadow:
    0 25px 45px rgba(124,58,237,.35);

    z-index:20;

} */

.cards:hover h3,
.cards:hover p{

    color:white;

}

.cards:hover::before{

    height:100%;

    opacity:.08;

}

.cards{

    animation:fadeUp .8s ease both;

}

.cards:nth-child(2){

    animation-delay:.1s;

}

.cards:nth-child(3){

    animation-delay:.2s;

}

.cards:nth-child(4){

    animation-delay:.3s;

}

.cards:nth-child(5){

    animation-delay:.4s;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(100px);

    }

    to{

        opacity:1;

    }

}
/* tools and technologies */
.tools{
    padding: 100px 50px;
}
.tools h2{
    text-align: center;
    margin-bottom: 50px;
    /* color: var(--primary-color); */
}
.tool-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.tool{
    width: 100px;
    height: 90px;
    background-color: var(--surface-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    /* box-shadow:inset 0 0px 15px var(--primary-color); */
    cursor: pointer;
    transition:.35s ease;
}


.tool:hover{
    transform:translateY(-8px) scale(1.08);
    box-shadow:0 0 25px rgba(124,58,237,.35);
}
.tool i{
    color: var(--text-color);
}
.tool p{
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Brush Script MT', cursive;
    color:var(--text-color);

}
.tool i{
    font-size:30px;
}

/* HTML */
.fa-html5{
    color:#E34F26 !important;
}

/* CSS */
.fa-css3-alt{
    color:#1572B6 !important;
}

/* JavaScript */
.fa-js{
    color:#F7DF1E !important;
}

/* React */
.fa-react{
    color:#61DAFB !important;
}

/* Bootstrap */
.fa-bootstrap{
    color:#7952B3 !important;
}

/* Git */
.fa-git-alt{
    color:#F05032 !important;
}

/* GitHub */
.fa-github{
    color:var(--text-color) !important;
}

/* Figma */
.fa-figma{
    color:#F24E1E !important;
}

/* UI */
.ui{
    color:#00C2FF !important;
}

/* UX */
.ux{
    color:#FF4D8D !important;
}

/* VS Code */
.devicon-vscode-plain{
    color:#007ACC !important;
}

/* Vercel */
.devicon-vercel-original{
    color: var(--text-color) !important;
}

/* Netlify */
.devicon-netlify-plain{
    color:#00C7B7 !important;
}
/* dash image section */ */
.image-dash{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
     /* margin-bottom: 50px; */
     /* margin: 100px 0px; */
     /* margin-top: 50px; */
    
}

.image-dash-img{
    /* height: 800px; */
    margin:0px 50px

}
.image-dash img{
    /* width: 100%; */
    min-width: 100%;
    height: 300px;
    border-radius: 20px;
    width: fit-content;
    position: relative;
}
/* skills section */
/* Skills Section */

.skills-section{
    padding:100px 50px;
}
.skills-section p ,.skills-section h1{
    text-align:center;
}
.skills-section h1 span{
    color:var(--primary-color);
}   


.main-skill{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    gap:30px;
    margin-top:50px;
}

.main-skill-container{
    width:100%;
}

.skills-container{
    background:var(--surface-color);
    padding:25px;
    border-radius:15px;
    /* box-shadow:0 5px 20px rgba(0,0,0,.08); */
}
.skills-container h2{
    text-align:center;
    margin-bottom:20px;
    /* color: var(--primary-color); */
    font-size:1rem;
    color:var(--text-color)
}

.skill-main{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.skill{
    margin-bottom:20px;
}
.skill-h{
}

.skill:last-child{
    margin-bottom:0;
}

.skill-text{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.skill-text h3{
    font-size:0.9rem;
    color:var(--heading-color);
}

.language{
    display:flex;
    align-items:center;
    gap:2px;
    font-weight:600;
    /* color:var(--primary-color); */
}

.skill-bar{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:30px;
    overflow:hidden;
}

.skill-progress{
    height:100%;
    border-radius:30px;
    background:linear-gradient(90deg,#7c3aed,#a855f7);
    animation:fillBar 2s ease forwards;
}

@keyframes fillBar{
    from{
        width:0;
    }
}


.main-education-container{
 display:flex;
 gap:20px;
 flex-direction:column;
}
.education-card {
    display:flex;
    flex-direction:column;  
    gap:10px;
}
.education-card-header{
    display:flex;
    justify-content:space-between;
}

.education-card h3{
    color:var(--primary-color);
}
.skill-bar{
    width:100%;
    min-width:300px;
    height:12px;
    background:#ddd;
    border-radius:30px;
    overflow:hidden;
}
.skill-progress{
    height:100%;
    
    width:0;
    background:linear-gradient(90deg,#7c3aed,#a855f7);
    border-radius:30px;
    position:relative;
    animation:fillBar 2s ease forwards;
}
.skill-text{
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
}

.skill-progress span{
    position:absolute;
    right:10px;
    top:-28px;
    font-size:14px;
    font-weight:600;
    color:#7c3aed;
}
@keyframes fillBar{
    from{
        width:0;
    }
}
/* projects section */
.project-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.project-section h1{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: var(--primary-color);
    
}
.project-section h2{
    font-size: 1.5rem;
    margin-top: 30px;
    /* color: var(--primary-color); */
}
.projects-main{
    display: flex;
    gap: 30px;
    /* width:300px; */
}
.projects-main .projects{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 0px 30px var(--primary-color); */
    border: 1px solid var(--primary-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
.projects-main .projects:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;

}
.projects-main .projects:hover:after{
    top: 100%;

    opacity: 1;
}
.projects-main .projects:nth-child(2){
    transform: scale(1.1);
}
.projects-main .projects:hover{
    transition: 0.5s;

}
.projects-main .projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact section */
.contact-section{
    min-height:100vh;
    height:100%;

    padding:100px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:50px;
}
.contact-section h1:first-child{
    font-size:2.5rem;
}
.contact-section span{
    color:var(--primary-color);
}
.contact-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:200px;
}
.contact-detail{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.contact-detail h1{
    /* color:var(--primary-color); */
    font-size:1.5rem;

}
.contact-detail h2{
    /* font-size:1.2rem; */
    color:var(--primary-color);
}
/* education section */
.educ-section{
    min-height:100vh;
    padding:100px 100px;
   display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
    gap:30px;
}
.educ-section h1{
    text-align:center;
    margin-bottom:20px;
}
.education-main{
    display:flex;
    gap:50px;
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
}
/* .education-header{
    display:flex;
    justify-content:space-around;
    align-items:center;
} */
 .skill h2{
    font-size:2.5rem;
    margin-bottom:50px;
    /* color: var(--primary-color); */
 }
 .ed-sk{
    margin-bottom:30px;
    text-align:center;
    /* color: var(--primary-color); */
 }
 .skill-text h3{
    font-size: 1rem !important;
 }


/* contact form */
.contact-form{
    background-color:var(--surface-color);
    display:grid;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0px 30px var(--primary-color);
}
.contact-form h1{
    margin:20px auto;
    /* color:var(--primary-color); */
}
.contact-form form{
    display:grid;
    gap:30px;
}
.contact-form form input{
     font-size: 1.1rem;
    width:400px;
    padding:10px;
    border-radius:5px;
    border:1px solid var(--primary-color);
    background-color:var(--surface-color);
    color:var(--text-color);
    /* width:100%; */
}
.contact-form form input:focus{
    /* box-shadow: 0 0 20px var(--primary-color); */
    outline:2px solid var(--primary-color);

}
.contact-form form textarea{
    font-size: 1.1rem;
    height:150px;
    padding:10px;
    border-radius:5px;
    border:1px solid var(--primary-color);
    background-color:var(--surface-color);
    color:var(--text-color);
    resize: none;
}
.contact-form form textarea:focus{
     outline:2px solid var(--primary-color);

}
.contact-form form button{
    background-color:var(--primary-color);
     border: 1px solid var(--primary-color);
    color:var(--surface-color);
    padding:10px 20px;
    border-radius:5px;
    /* border:none; */
    cursor:pointer;
    transition:0.5s;
}
.contact-form form button:hover{
    background-color: transparent;
    color: var(--text-color);
}
.reveal{
    opacity: 0;
    transform: translateY(80px);
    transition: all .8s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}
/* toast */
.toast{
    position: fixed;
    font-size: 1.5rem;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--surface-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px var(--primary-color);
    z-index: 1000;
    display: none;
}
.show{
    display: block;
    /* animation: fadeInOut 3s forwards; */
}
/* readmore page */
.readmore-section{
    min-height:100vh;
    padding:100px 100px;
    font-size:1.2rem;
    
}
 .readmore-content h1{
    /* color: var(--primary-color); */
    margin-bottom: 20px;
    font-size: 2rem;
 }
.readmore-dark{
    position: absolute;
    top: 20px;
    right: 20px;
}
.accordion-main{
    /* font-size: 1.2rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion-btn button{
    background-color: var(--primary-color);
    color: var(--surface-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.accordion-btn button:hover{
    background-color: var(--primary-hover);
    transition: 0.5s;
}
.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
}
.back-button a{
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.5s;
    color: var(--surface-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
.back-button a:hover{
    background-color: transparent;
    color: var(--text-color);
    transition: 0.5s;

}
.accordion-content{
     display: none;
}
.accordion-content p{
    border: 1px solid var(--primary-color);
    padding: 20px;
    background-color: var(--surface-color);
    margin-top: 10px;
}

/* responsive */
@media (min-width:1024px) and (max-width: 1440px){
    header nav{
        padding: 20px 30px;
        font-size:1.2rem;
    }
    .logo a{
        font-size:1.5rem;
    }
    .hero-section{
        margin: 0 100px;
        font-size:1rem;
    }
    .hero-image img{
        height: 300px;
    }
    .about-section{
        margin: 0 100px;
        font-size:1rem;
    }
    .about-img img{
        height: 300px;
    }
    /* detail section */
    .detail{
        width: 150px;
        height: 100px;
        font-size: 1rem;
    }
    .detail span:first-child{
        font-size: 2rem;
    }
    /* services section */
    .services{
        /* padding: 50px 30px; */
    }
    .services h2{
        font-size:2.5rem;
        /* margin-bottom:50px; */
    }
    .cards{
        width: 180px;
        height: 250px;
        padding: 20px;
    }
    .cards h3{
        font-size: 1.2rem;
    }
    .cards p{
        font-size: 0.9rem;
        line-height: 1.3;
    }
    /* skills section */
    .skills-section{
        margin: 0 50px;
        font-size:1.1rem;
    }
    .skill-text h3{
        font-size: 1.2rem;
        
    }
    .skill-bar{
        min-width: 250px;
        height: 10px;
    }
    .skill-progress{
        
    }
    .language:first-child span{
        /* display: flex;
        gap: 5px;
        align-items: center;
        justify-content: end; */
        /* display: inline-block; */
    }
    /* contact section */
    .contact-section{
        margin: 0 50px;
        display: flex;
    }
    .contact-section h1:first-child{
        font-size: 2rem;
    }
    .contact-container{
        gap: 150px;
    }
    .contact-detail{
        gap: 10px;
    }
    .contact-form form{
        gap: 20px;
    }
    .contact-form form input{
        width: 300px;
        font-size: 1rem;

    }
    .contact-form form textarea{
        height: 100px;
        font-size: 1rem;
    }
}
@media (min-width:768px) and (max-width: 1024px){
    header nav{
        padding: 20px 30px;
        font-size:1rem;
    }
    .hero-section{
        height: auto;
        margin: 0 50px;
        font-size:0.9rem;
    }
    .hero-image img{
        height: 250px;
    }
}
@media (max-width: 768px){
    header nav{
        padding: 15px 20px;
        font-size:0.9rem;
    }
    .logo a{
        font-size:1.2rem;
    }
    .hero-section{
        height: auto;
        margin: 30px 20px;
        font-size:0.8rem;
        flex-direction: column;
    }
    .hero-image-section {
   flex-direction: column;
   justify-content: center;
    align-items: center;
    gap: 30px;
}
    .hero-image img{
        height: 200px;
    }
    .account-links{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    
}